body{
	background-image: url('dark_wood.png');
	font-stretch: expanded;
}

a{
	color: white;
	font-weight: bold;
	font-size: 24px;
}

p{
	color: white;
	font-size: 16pt;
	font-family: "Arial";
	font-weight: bold;
}

#Header, #LeftNac, #Content, #Footer {
	border: solid 8px black;
	background-color: #8E41D5;
	text-align: center;
}


h3{
	color: #FBBC00;
	font-size: 40px;
	font-family: "Passion One";
	margin-bottom: 0px;
	box-shadow: 10px 10px 10px #888888;
}

#Header h1{
	font-size: 60px;
	font-family: "Passion One";
	color: #FFBC00;
	font-weight: bold;

}

#Header h1{
	width: 500px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#LeftNav{
	padding-bottom: 8px;
	text-align: center;
	float: left;
	width: 400px;
}

#Content{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	width: 700px;
	font-weight: 

}

#Footer{
	text-align: center;
}

ul{
	list-style-type: none;
	padding-left: 0px;
}